* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  max-width: 1500px;
  margin: 0 auto;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #eeeaea;
}

/********************************************* HERO SECTION ******************************************/

h1 {
  font-size: 4.4rem;
  font-family: "Cabin";
  font-weight: 100;
  text-align: center;
}
h2 {
  font-family: "Yanone Kaffeesatz";
  font-size: 3rem;
  font-weight: 350;
  padding-top: 2rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 15vw; /* Bruger VW fordi teksten "cuttede" af når jeg gjorde skærmen mindre med rem */
    font-family: "Cabin";
    font-weight: 100;
    text-align: center;
    margin-right: 4rem;
    margin-left: 4rem;
  }
}

/********************************************* SLIDESHOW ******************************************/
.hero_container {
  position: relative;
  width: 100%;
  height: auto;
}
.forside_tekst {
  position: relative;
  padding: 20px;
  z-index: 1;
  overflow: visible;
}
.slideshow_container {
  position: absolute;
  top: 64%;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: auto;
  overflow: hidden;
}

.slideshow {
  display: flex;
  white-space: nowrap; /* Gør at slideshowet ikke kører udenfor rammen */
  gap: 10px;
  animation: slide 40s linear infinite;
}

.slideshow img {
  width: 250px;
  height: auto;
  flex-shrink: 0; /* Gør at billederne ikke krymper */
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/********************************************* KNAPPER ******************************************/

.grid_1-1 {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 13rem;
  margin-bottom: 16rem;
  margin-right: 4rem;
  margin-left: 4rem;
}

#portfolio_knap {
  background-image: url(svg/mappe_portfolio_grøn.png);
  background-size: cover;
  aspect-ratio: 341.11 / 252.49;
  cursor: pointer;
  width: 38%;
  height: auto;
  position: absolute;
}
#ommig_knap {
  background-image: url(svg/mappe_ommig_grøn.png);
  background-size: cover;
  aspect-ratio: 341.11 / 252.49;
  cursor: pointer;
  width: 38%;
  height: auto;
  position: absolute;
}

#portfolio_knap {
  left: 30%;
  top: 35%;
  transform: translate(-50%, -50%);
}

#ommig_knap {
  left: 70%;
  top: 35%;
  transform: translate(-50%, -50%);
}

#portfolio_knap:hover {
  background-image: url("svg/mappe_portfolio_hoover.png");
}
#ommig_knap:hover {
  background-image: url("svg/mappe_ommig_hoover.png");
}

/********************************************* DESKTOP ******************************************/
@media (min-width: 600px) {
  .grid_1-1 {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 18rem;
    margin-bottom: 16rem;
  }
  #portfolio_knap {
    background-image: url(svg/mappe_portfolio_grøn.png);
    background-size: cover;
    cursor: pointer;
    width: 20%;
    height: auto;
    position: absolute;
  }
  #ommig_knap {
    background-image: url(svg/mappe_ommig_grøn.png);
    background-size: cover;
    cursor: pointer;
    width: 20%;
    height: auto;
    position: absolute;
  }

  #portfolio_knap {
    left: 30%;
    top: 35%;
    transform: translate(-50%, -50%);
  }

  #ommig_knap {
    left: 70%;
    top: 35%;
    transform: translate(-50%, -50%);
  }

  .slideshow img {
    width: 350px;
    height: auto;
    flex-shrink: 0;
  }
}
